<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Промышленный дизайнер</title>
    <link rel="stylesheet" href="../css/test.css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Source+Sans+Pro&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="text">Тест на дизайнера</div>
    <div class="designer-block">

    </div>
    <div class="description-text">
        <div class="block-questions">
            <h2>Отношение линейных размеров изображаемого на чертеже объекта к его размерам в натуре- это</h1>
                <input type="radio" name="one" id="">вид<br>
                <input type="radio" name="one" id="">масштаб <br>
                <input type="radio" name="one" id="">пропорциональность<br>
            <h2>Состояние формы, при котором все элементы сбалансированы между собой</h1>
                <input type="radio" name="two" id="">пропорциональность <br>
                <input type="radio" name="two" id="">соподчиненностью <br>
                <input type="radio" name="two" id="">тектоничностью<br>
            <h2>Создать постепенное усиление декоративной темы можно</h1>
                <input type="radio" name="three" id="">контрастом<br>
                <input type="radio" name="three" id="">нюансом<br>
                <input type="radio" name="three" id="">ритмом<br>
            <h2>Всякая фигура, которая состоит из геометрически форм, должным образом расположенных относительно друг друга, называется</h1>
                <input type="radio" name="four" id="">асимметрией <br>
                <input type="radio" name="four" id="">симметрией<br>
                <input type="radio" name="four" id="">статикой<br>   
            <h2>Сопоставление тела и пространства, крупного и мелкого, прозрачного и непрозрачного – примеры</h1>
                <input type="radio" name="five" id="">бионикой<br>
                <input type="radio" name="five" id="">тектоникой<br>
                <input type="radio" name="five" id="">комбинаторикой <br> 
            <h2>Закономерное повторение частей и изменение интервала между ними называется</h1>
                <input type="radio" name="six" id="">масштаб<br>
                <input type="radio" name="six" id="">ритм<br>
                <input type="radio" name="six" id="">метр<br>
            <h2>Симметрию трактуют как синоним</h1>
                <input type="radio" name="seven" id="">пропорциональности<br>
                <input type="radio" name="seven" id="">соподчиненности<br>
                <input type="radio" name="seven" id="">равновесия<br>
            <div class="buttonOk">Узнать результат</div>
            <div class="empty"></div>
        </div>
    </div>
</div>
<?php
    $conn = mysqli_connect("localhost:8080/accounting", "root", "1111");

?>
</body>
</html>