<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/test.css">
    <title>Сварщик</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Source+Sans+Pro&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="main">
        <div class="text">Тест на сварщика</div>
        <div class="welder-block">

        </div>
        <div class="description-text">
            <div class="block-questions">
                <h2>В каком порядке проводится аттестация сварщиков? </h1>
                    <input type="radio" name="one" id="">По решению аттестационной комиссии <br>
                    <input type="radio" name="one" id="">Сначала теоретическая часть экзамена, а затем практическая<br>
                    <input type="radio" name="one" id="">Сначала практическая часть экзамена, затем теоретическая<br>
                <h2>Дайте определение понятию «электрошлаковая сварка» </h1>
                    <input type="radio" name="two" id="">Сварка электротоком, при которой побочным продуктов плавления металла является слой флюса, подлежащий вторичному использованию при электродуговой сварке<br>
                    <input type="radio" name="two" id="">Сварка плавлением, при которой для нагрева используют тепло, выделяемое при прохождении электротока через массы расплавленного шлака<br>
                    <input type="radio" name="two" id="">Сварка плавлением, при которой используются ленточные электроды и слой шлака в качестве охлаждающей среды<br>
                <h2> Ультразвуковой метод контроля позволяет выявить следующие дефекты сварного шва:</h1>
                    <input type="radio" name="three" id="">Качество оплавления металла<br>
                    <input type="radio" name="three" id="">Непровары, трещины, поры, включения металлической и неметаллической природы, несплавления<br>
                    <input type="radio" name="three" id="">Внутренние напряжения металла<br>
                <h2> Исправление сквозных дефектов сварных соединений трубопроводной арматуры проводят путем разрезки кромок. Укажите допустимые углы раскрытия кромок.</h1>
                    <input type="radio" name="four" id="">65-75 градусов<br>
                    <input type="radio" name="four" id="">15-20 градусов<br>
                    <input type="radio" name="four" id="">30-45 градусов<br>   
                <h2>Какой должна быть характеристика источников питания для ручной дуговой сварки или наплавки покрытыми электродами?</h1>
                    <input type="radio" name="five" id="">Переменной<br>
                    <input type="radio" name="five" id="">Крутопадающей или жесткой (в комбинации с балластными реостатами)<br>
                    <input type="radio" name="five" id="">Восходяще-контролируемой<br> 
                <h2>При выполнении ручной дуговой сварки непровары возникают из-за:</h1>
                    <input type="radio" name="six" id="">Высокой скорости выполнения работ, недостаточной силы сварочного тока<br>
                    <input type="radio" name="six" id="">Малой скорости выполнения работ, чрезмерно большой силы сварочного тока<br>
                    <input type="radio" name="six" id="">Неправильного подбора электродов, чрезмерно большой силы сварочного тока<br>
                <h2>Расшифруйте смысл маркировки электродов: буква «Э» и следующее за ней цифровое значение.</h1>
                    <input type="radio" name="seven" id="">Тип электрода и допустимое количество часов использования<br>
                    <input type="radio" name="seven" id="">Тип электрода и гарантируемый предел прочности наплавленного металла в расчете на кгс/мм2<br>
                    <input type="radio" name="seven" id="">Марку электрода и серийный номер, присвоенный заводом-производителем<br>
                <h2>С какой целью выполняют разрезку кромок?</h1>
                    <input type="radio" name="eight" id="">Для обеспечения провара на всю глубину<br>
                    <input type="radio" name="eight" id="">Для более удобного проведения сварочных работ<br>
                    <input type="radio" name="eight" id="">Для экономии металла<br>
                <h2>Укажите верную маркировку, которая бы указывала на толщину покрытия в обозначении электрода.</h1>
                    <input type="radio" name="nine" id="">Тонкое покрытие - М, среднее покрытие - С, толстое покрытие - Д, особо толстое покрытие - Г<br>
                    <input type="radio" name="nine" id="">Без покрытия - ТО, среднее покрытие - СР, толстое покрытие - ТЛ, особо толстое покрытие - ОТЛ<br>
                    <input type="radio" name="nine" id="">Без покрытия - БП, тонкое покрытие - Т, среднее покрытие - С, толстое покрытие - ТТ, особо толстое покрытие – ТТТ<br>
                <h2>Чем определяются свойства сварного соединения?</h1>
                    <input type="radio" name="ten" id="">Свойствами металла шва, линии сплавления с основным металлом и зоны термического влияния<br>
                    <input type="radio" name="ten" id="">Техническими характеристиками использованных электродов<br>
                    <input type="radio" name="ten" id="">Свойствами металла линии сплавления и зоны термического влияния<br>
                <div class="buttonOk">Узнать результат</div>
                <div class="empty"></div>
            </div>  
            
        </div>

        
</div>
<?php
    $conn = mysqli_connect("localhost:8080/accounting", "root", "1111");

?>
</body>
</html>